* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    background: #ffffff;
}

header {
    max-width: 1920px;
    width: 100%;
    background: #533771;
}


header a > img {
    width: 120px;
    height: 110px;
    margin-top: 15px;
    margin-left: 480px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-top: -75px;
    margin-left: 768px;
}

.menu a{
    margin-top: -8px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    transition: color 0.3s ease;
}

header .active{
    background: #8a579c;
    color: #ffffff;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-top: -78px;
    margin-left: 85px;
}

